---
import { getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const { slug } = Astro.params;

if (!slug) {
  return {
    status: 404,
  };
}

const post = await getEntry("posts", slug);

if (!post) {
  return {
    status: 404,
  };
}

const { Content } = await post.render();
const authors = await getCollection("authors");
const postAuthors = authors.filter((author) =>
  post.data.authors.some((authorId) => authorId === author.id)
);

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => {
    return {
      params: { slug: post.slug },
    };
  });
}
---

<Layout title={post.data.title}>
  <div class="text-white p-4">
    <h1>{post.data.title}</h1>
    <div class="flex space-x-2">
      {
        postAuthors.map((author) => (
          <div class="flex items-center">
            <img
              src={author.data.avatar}
              alt={author.data.name}
              class="w-12 h-12 rounded-full object-cover"
            />
            <p class="ml-2 text-lg font-bold">{author.data.name}</p>
          </div>
        ))
      }
    </div>
    <hr class="my-2" />
    <Content />
  </div>
</Layout>
