---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { getCoaches } from "../server/api";
import { Counter } from "../components/react/Counter";
import { getCollection } from "astro:content";

const coaches = await getCoaches({ tag: null });

const posts = await getCollection("posts");
---

<Layout title="Alle Coaches.">
  <main>
    <h1 class="text-2xl font-bold">Alle Coaches</h1>
    <p class="mb-1">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. <span
        class="bg-red-400 px-1 rounded-md">Mauris</span
      > ultrices eros in cursus turpis massa. Tincidunt vitae semper quis lectus
      nulla at. Eu turpis egestas pretium aenean pharetra magna ac. Egestas
      fringilla phasellus faucibus scelerisque eleifend. <span
        class="underline decoration-pink-500 decoration-2 underline-offset-2 hover:decoration-4 cursor-pointer"
        >Dictum non consectetur</span
      >
       a erat nam at lectus. Urna id volutpat lacus laoreet non. Elementum
      tempus egestas sed sed risus pretium quam vulputate. Imperdiet proin
      fermentum leo vel orci porta non. In eu mi <a
        class="text-blue-600 after:content-['_↗'] ..."
        href="https://www.
apple.com/pro-display-xdr/"
        target="_blank">bibendum</a
      > neque egestas congue quisque. Nunc id cursus metus aliquam eleifend mi
      in nulla. Ultricies integer quis auctor elit sed vulputate. Eu ultrices
      vitae auctor eu augue.
    </p>
    <p class="mb-1">
      Erat pellentesque adipiscing commodo elit at imperdiet dui accumsan sit.
      At consectetur lorem donec massa sapien faucibus. Dui id ornare arcu odio
      ut. Pretium quam vulputate dignissim suspendisse in. Ornare quam viverra
      orci sagittis eu volutpat. Gravida dictum fusce ut placerat orci nulla
      pellentesque dignissim enim. Massa enim nec dui nunc mattis. Non blandit
      massa enim nec dui nunc mattis. Donec et odio pellentesque diam volutpat.
      Mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Eu sem
      integer vitae justo eget magna fermentum iaculis eu. Etiam erat velit
      scelerisque in dictum. Ut lectus arcu bibendum at varius vel pharetra.
    </p>
    <div class="mb-2">
      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={`/posts/${post.slug}`}>{post.data.title}</a>
            </li>
          ))
        }
      </ul>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      {
        coaches.map((coach) => (
          <a
            href={`/coach/${coach.id}`}
            class="rounded-2xl w-full aspect-3/4 hover:scale-105 delay-75 relative overflow-hidden hover:cursor-pointer"
            data-astro-prefetch
          >
            <Image
              src={`/coach/${coach.id}.webp`}
              width={300}
              height={600}
              alt={coach.name}
              class="h-full w-full object-cover contrast-75"
              decoding="async"
              loading="lazy"
            />
            <div class="absolute top-0 bottom-0 right-0 left-0 flex flex-col justify-end p-4 w-full text-white">
              <h2 class="text-xl font-bold">{coach.name}</h2>
            </div>
          </a>
        ))
      }
    </div>
    <h2 class="text-2xl font-bold mt-8">Counter</h2>
    <Counter client:only="react" />
    <p class="text-base font-bold my-3 flex items-center">
      Counter Value:&nbsp;
      <span class="text-red-500 font-bold text-2xl" id="count">
        {0}
      </span>
    </p>
  </main>
</Layout>

<script>
  import { $count } from "../store/demo.store";

  // Listen to changes in the store, and show/hide the dialog accordingly
  $count.subscribe((count) => {
    const element = document.getElementById("count");

    if (element) {
      element.innerHTML = String(count);
    }
  });
</script>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
